* {
    box-sizing: content-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(10, 10, 10);
    z-index: 1;
}

p {
    font-size: 20px;
    font-weight: normal;
}

button {
    border: rgb(226, 226, 226) 1px solid;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid rgb(66, 66, 66);
}

button:active {
    background-color: rgb(226, 226, 226);
}

.main {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 2vh;
    height: 88.5vh;
    padding: 30px 0 0;
    background: rgb(32, 32, 32);
    /* background: linear-gradient(330deg,  */
    /* rgba(136,249,255,1) 0%, 
    rgba(148,255,157,1) 50%, 
    rgba(187,255,135,1) 100%); */
    animation: 30s infinite colorShift;
}

@keyframes colorShift {
    0% {
        background-color: rgb(255, 96, 96);
    }
    10% {
        background-color: rgb(255, 183, 74);
    }
    20% {
        background-color: rgb(148, 255, 77);
    }
    30% {
        background-color: rgb(73, 255, 209);
    }
    40% {
        background-color: rgb(79, 82, 255);
    }
    50% {
        background-color: rgb(255, 80, 240);
    }
    60% {
        background-color: rgb(79, 82, 255);
    }
    70% {
        background-color: rgb(73, 255, 209);
    }
    80% {
        background-color: rgb(148, 255, 77);
    }
    90% {
        background-color: rgb(255, 183, 74);
    }
    100% {
        background-color: rgb(255, 96, 96);
    }
}

.titles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-title {
    font-size: 35px;
}

.drawing-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    width: 40vw;
    height: 50px;
}

.color-picker {
    appearance: none;
    width: 30px;
    height: 31px;
    border-radius: 5px;
    border: 2px solid rgb(66, 66, 66);
}

.range-and-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

.grid-size-input {
    /* Override default CSS styles */
    appearance: none;
    background: rgb(165, 165, 165);
    outline: none;
    border-radius: 50px;
    width: 120px;
    height: 15px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.7);
}

.eraser {
    width: 30px;
    height: 30px;
    background-position: center;
    background-image: url('./images/icons8-eraser-64.png');
    background-size: 25px 25px;
}

.canvas {
    height: 400px;
    width: 400px;
    background-color: rgb(226, 226, 226);
    box-shadow: 0px 5px 12px 1px rgb(0 0 0);

    display: flex;
    flex-wrap: wrap;
}

.color-pallet {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 5px;
    width: 410px;
    height: 40px;
    background-color: rgb(226, 226, 226);
    border-radius: 10px;
    border: 2px solid rgb(66, 66, 66);
}

.reset-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 40px;
    border-radius: 20px;
    font-weight: bold;
    font-size: large;
    color: black;
}

.footer {
    height: 8vh;
    background-color: rgb(10, 10, 10);
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 3;
}

.github-link-button {
    width: 30px;
    height: 30px;
}

.footer-title {
    text-align: center;
    display: block;
    color: white;
    width: 30vw;
    font-size: 15px;
    font-weight: normal;
}

.placeholder {
    width: 30px;
    height: 30px;
}