* {
    box-sizing: content-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: black;
    z-index: 1;
}

button {
    border: rgb(226, 226, 226) 1px solid;
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.7);
    cursor: pointer;
}

button:active {
    background-color: rgb(226, 226, 226);
}

.main {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 2vh;
    height: 88.5vh;
    padding: 30px 0 0;
    background: rgb(136,249,255);
    background: linear-gradient(330deg, 
    rgba(136,249,255,1) 0%, 
    rgba(148,255,157,1) 50%, 
    rgba(187,255,135,1) 100%);
}

.titles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-title {
    font-size: 35px;
}

.page-subtitle {
    font-size: 20px;
}

.drawing-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    width: 40vw;
    height: 50px;
}

.color-picker {
    appearance: none;
    width: 30px;
    height: 31px;
    /* background-color:rgb(226, 226, 226); */
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
    /* border: 5px solid rgb(226, 226, 226); */
}

.range-and-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

.grid-size-input {
    /* Override default CSS styles */
    appearance: none;
    background: rgb(192, 255, 197);
    outline: none;
    border-radius: 50px;
    width: 120px;
    height: 15px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.7);
}

.eraser {
    width: 30px;
    height: 30px;
    background-position: center;
    background-image: url('./images/icons8-eraser-64.png');
    background-size: 25px 25px;
}

.canvas {
    height: 400px;
    width: 400px;
    background-color: rgb(226, 226, 226);
    box-shadow: 0px 5px 12px 1px rgb(0 0 0);

    display: flex;
    flex-wrap: wrap;
}

.reset-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 30px;
    font-weight: bold;
}

.footer {
    height: 8vh;
    background-color: rgb(10, 10, 10);
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 3;
}

.github-link-button {
    width: 30px;
    height: 30px;
}

.footer-title {
    text-align: center;
    display: block;
    color: white;
    width: 30vw;
    font-size: 15px;
    font-weight: normal;
}

.placeholder {
    width: 30px;
    height: 30px;
}